<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        function f() {
            alert("hello")
            var data = {{ res|safe }}
            html = "<table class=\"table table-striped \" style=\"border-color: balck;background-color: #ffff4d\"><tr>";
            for (var i=0;i<data.length;i++){
                html+="<td>"+data[i]+"</td>"
                html+="<td> <button type=\"submit\"> <a href=\"/read/"+data[i]+"/{{ res }}\"> Read </a></button> </td>"
                      html += "</tr><tr>";


            }
            html+= "<td></td><td></td></tr></table>"
            alert(html)
            document.getElementById("container").innerHTML = html;
        }
    </script>
    <title>Resources Exchanger</title></head>
<body style="background-color: wheat;" onload="f()">
<div class="container" style="height:35%;width:45%;margin-top:10%" onload="f()" id="container"></head>

</div>
</body>
</body>
</html>